@inject NavigationManager Navigation

<Router AppAssembly="@typeof(App).Assembly" OnNavigateAsync="HandleRedirect">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    private async Task HandleRedirect(NavigationContext context)
    {
        if (context.Path is "" or "/")
        {
            Navigation.NavigateTo($"{Navigation.BaseUri}home", replace: true);
        }
    }
}
